# Core Deep Learning
torch>=2.0.0

# Data handling
pandas>=1.5.0
numpy>=1.23.0

# Visualization
matplotlib>=3.6.0

# NLP Metrics
nltk>=3.8.0
rouge-score>=0.1.2

# Utility
scikit-learn>=1.2.0
tqdm>=4.65.0
